/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes icon-hover {
  100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes down {
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #41152C;
  width: 100%;
  height: 100vh;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 300; }

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 300; }

h2 {
  font-size: 5vw; }

.card {
  background-color: #50162C;
  opacity: 0.75;
  width: 100%;
  height: 100vh; }

/* Web Fonts -------------------- */
.menu {
  position: absolute;
  top: 3vh;
  left: 3vw;
  width: 5vw;
  height: 5vw;
  background: url(../../images/icons/white_menu.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25; }
  .menu:hover {
    opacity: 0.75;
    animation: icon-hover 0.5s ease-in-out forwards; }

.forward {
  position: absolute;
  top: 3vh;
  right: 5vw;
  width: 5vw;
  height: 5vw;
  background: url(../../images/icons/white_forward.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25; }
  .forward:hover {
    opacity: 0.75; }

.back {
  position: absolute;
  top: 3vh;
  right: 15vw;
  width: 5vw;
  height: 5vw;
  background: url(../../images/icons/white_back.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25; }
  .back:hover {
    opacity: 0.75; }

.down {
  animation: down 5s ease-in-out infinite;
  position: absolute;
  bottom: 3vh;
  right: 50vw;
  width: 5vw;
  height: 5vw;
  background: url(../../images/icons/white_down.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25; }
  .down:hover {
    opacity: 0.75; }

.plus {
  position: absolute;
  bottom: 3vh;
  right: 5vw;
  width: 5vw;
  height: 5vw;
  background: url(../../images/icons/white_plus.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25; }
  .plus:hover {
    opacity: 0.75; }

nav {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0; }

.project-card {
  width: 100%;
  height: 100vh;
}
