/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #411428;
  width: 100%;
  height: 100vh;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 300; }

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 300; }

/* Web Fonts -------------------- */
.minus {
  position: absolute;
  top: 5vw;
  right: 5vw;
  width: 5vw;
  height: 5vw;
  background: url(../../images/icons/icon_minus_hover.png) center no-repeat transparent;
  background-size: contain; }
  .minus:hover {
    background: url(../../images/icons/icon_minus.png) center no-repeat transparent;
    background-size: contain; }

.plus {
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  width: 5vw;
  height: 5vw;
  background: url(../../images/icons/icon_plus_hover.png) center no-repeat transparent;
  background-size: contain; }
  .plus:hover {
    background: url(../../images/icons/icon_plus.png) center no-repeat transparent;
    background-size: contain; }

.menu {
  position: absolute;
  top: 5vw;
  left: 5vw;
  width: 5vw;
  height: 5vw;
  background: url(../../images/icons/icon_menu_hover.png) center no-repeat transparent;
  background-size: contain; }
  .menu:hover {
    background: url(../../images/icons/icon_menu.png) center no-repeat transparent;
    background-size: contain; }

.nav-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%; }

.push-wrap {
  -webkit-transition: all 300ms ease 0;
  -moz-transition: all 300ms ease 0;
  transition: all 300ms ease 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.show-nav .push-wrap {
  -webkit-transform: translate(50vw, 0);
  -moz-transform: translate(50vw, 0);
  -ms-transform: translate(50vw, 0);
  transform: translate(50vw, 0);
  -webkit-transform: translate3d(50vw, 0, 0);
  -moz-transform: translate3d(50vw, 0, 0);
  -ms-transform: translate3d(50vw, 0, 0);
  transform: translate3d(50vw, 0, 0); }

nav {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

.project-card {
  width: 100%;
  height: 100vh; }
  .project-card .project-left {
    width: 50%; }
