* {
  @include box-sizing(border-box);
}

body{
  width: 100%;
  height: 100vh;
}


h1, h2, h3, h4, h5, h6{
  font-family: $font-fancy;
  color: $white;
  font-weight: 300;
}

h1{
  font-size: 3.44vw; //44px
}

h2{
  font-size: 1.95vw; //25px
}

h6{
  font-size: 1.95vw; //25px
  text-transform: uppercase;
  position: absolute;
  top: 3.25vw;
  right: 3.25vw;
  color: $aubergine;
}

p{
  font-family: $font-main;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.04vw;
  font-size: 1.25vw;
  margin-bottom: 0.5vw;
}

.special{
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
}

// h3{
//
// }
//
// h4{
//
// }
//
// h5{
//
// }

.intro-text{
  font-size: 3.44vw; //44px
}

.more-text{
  font-size: 1.56vw; //20px
}


@media(max-width: 800px) {
  h6{
    font-size: 3.5vw;
    top: 8.25vw;
    right: 4vw;
  }

  .intro-text{
    font-size: 4vw;
  }

  .more-text{
    font-size: 2.25vw;
  }
}


@media(max-width: 600px) {
  h6{
    font-size: 4vw;
    top: 11.5vw;
    right: 6vw;
  }

  .intro-text{
    font-size: 4.75vw;
  }

  .more-text{
    font-size: 3vw;
  }
}
