* {
  @include box-sizing(border-box);
}

body{
  background-color: $aubergine_dark;
  width: 100%;
  height: 100vh;
  font-family: $font-main;
  font-weight: 300;
}


h1, h2, h3{
  font-family: $font-fancy;
  color: $white;
  font-weight: 300;
}

// #one, #two, #three, #four {
//   position: relative;
//   width: 25%;
//   height: 100vh;
//   display: inline-block;
//   margin: 0 -2px;
// }

// #one{
//   background-color: $aubergine_dark;
// }
// #two{
//   background-color: $aubergine_medium;
// }
// #three{
//   background-color: $aubergine_light;
// }
// #four{
//   background-color: $magenta;
// }
