// @keyframes icon-hover {
//     100% {
//         @include scale(1.1);
//     }
// }
@keyframes down {
    50% {
        @include scale(1.1);
    }

    100% {
        @include scale(1);
    }
}
@keyframes plus {
    0% {
        @include scale(1);
    }
    100% {
        @include scale(1.1);
    }
}

@keyframes glow {
    50% {
        // @include scale(1.1);
    }

    100% {
        @include scale(1);
        -webkit-box-shadow: 0 0 10px 5px rgba(135,35,75,0.75);
        -moz-box-shadow: 0 0 10px 5px rgba(135,35,75,0.75);
        box-shadow: 0 0 10px 5px rgba(135,35,75,0.75);
    }
}

@keyframes enter {
  0%{
    opacity: 0.15;
  }
  // 25%{
  //   opacity: 0.15;
  // }
  50%{
    opacity: 0.35;
    // fill: $rosegold;
  }
  // 75%{
  //   opacity: 0.15;
  // }
  100%{
    opacity: 0.15;
  }
}


@keyframes plus-rotate {
  0%{
    @include rotate(0deg);
  }
  50% {
    @include rotate(-15deg);
  }
  100% {
    @include rotate(0deg);
  }
}

@keyframes outline-fade {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
