@keyframes icon-hover {
  100% {
    @include scale(1.1);
  }
}

@keyframes down {
  50% {
    @include scale(1.1);
  }
  100% {
    @include scale(1);
  }
}

@keyframes plus {
  0% {
    // @include scale(1);
    background: url("../../images/icons/white_plus.svg");
    background-size: contain;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(74,47,64,0.9);
    -moz-box-shadow: 0px 0px 15px 2px rgba(74,47,64,0.9);
    box-shadow: 0px 0px 15px 2px rgba(74,47,64,0.9);
    // -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    // -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    // box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
  }
  25% {
    // @include scale(1.1);
    background: url("../../images/icons/aubergine_plus.svg");
    background-size: contain;
    opacity: 1;
  }
  40% {
    // @include scale(1.1);
    // background: url("../../images/icons/aubergine_plus.svg");
    // background-size: contain;
    -webkit-box-shadow: inset 0px 0px 15px 2px rgba(74,47,64,0.9);
    -moz-box-shadow: inset 0px 0px 15px 2px rgba(74,47,64,0.9);
    box-shadow: inset 0px 0px 15px 2px rgba(74,47,64,0.9);
    // -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    // -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    // box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
  }
  60% {
    // @include scale(1.1);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(74,47,64,0.9);
    -moz-box-shadow: 0px 0px 15px 2px rgba(74,47,64,0.9);
    box-shadow: 0px 0px 15px 2px rgba(74,47,64,0.9);
    // -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    // -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    // box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
  }

  100% {
    // @include scale(1);
    background: url("../../images/icons/white_plus.svg");
    background-size: contain;
    // -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    // -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    // box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
  }
}

@keyframes glow {
  50% {
    // @include scale(1.1);
  }
  100% {
    @include scale(1);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(135,35,75,0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(135,35,75,0.75);
    box-shadow: 0px 0px 10px 5px rgba(135,35,75,0.75);
  }
}
