$aubergine_dark: #411428;
$aubergine_medium: #4B1932;
$aubergine_light: #55283C;
$magenta: #87234B;
$white: #FFFFFF;


$font-fancy: 'Josefin Sans', sans-serif;
$font-main: 'Lato', Helvetica, sans-serif;
