// $aubergine: rgba(65, 20, 43, 1);
// $aubergine-medium: rgba(65, 20, 43, 0.95);
// $aubergine-light: rgba(65, 20, 43, 0.75);
// $berry: rgba(75, 20, 43, 1);
// $berry-light: rgba(75, 20, 43, 0.75);
//
// // $silver: #B9B5B5;
// $silver: rgba(185, 181, 181, 1);
// $silver-light: rgba(185, 181, 181, 0.70);
// // $white: #FFFFFF;
// $white: rgba(255, 255, 255, 1);
// $white-light: rgba(255, 255, 255, 0.80);
//
//
// $magenta: #87234B;

$aubergine: rgba(74, 48, 65, 1);
$aubergine-dark: rgba(74, 48, 65, 0.98);
$aubergine-medium: rgba(74, 48, 65, 0.95);
$aubergine-light: rgba(74, 48, 65, 0.75);
$berry: rgba(68, 45, 59, 1);
$berry-light: rgba(68, 45, 59, 0.80);

$burntlilac: rgba(84, 65, 78, 0.80);
$burntlilac-dark: rgba(84, 65, 78, 1);

// $silver: #B9B5B5;
$silver: rgba(177, 179, 179, 1);
$silver-light: rgba(177, 179, 179, 0.70);
// $white: #FFFFFF;
$white: rgba(255, 255, 255, 1);
$white-light: rgba(255, 255, 255, 0.80);


$magenta: #87234B;
$lilac: #AF95A6;
$gold: #8B6F4E;
$rosegold: #8B634B;
$mustard: #CBA052;


$font-fancy: 'Josefin Sans', sans-serif;
$font-main: 'Lato', Helvetica, sans-serif;


$min-height: 600px;
