$iconSize: 5vw;
$iconSizeTablet: 10vw;
$iconSizeMobile: 15vw;

.menu{
  position: absolute;
  top: 3.13vw;
  left: 3.13vw;
  width: $iconSize;
  height: $iconSize;
  background: url(../../images/icons/white_menu.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25;
  z-index: 10; 
  &:hover{
    opacity: 0.75;
    animation: icon-hover 0.5s ease-in-out forwards;
  }
}

.forward{
  position: absolute;
  top: 3.13vw;
  right: 3.13vw;
  width: $iconSize;
  height: $iconSize;
  background: url(../../images/icons/white_forward.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25;
  &:hover{
    opacity: 0.75;
  }
}

.back{
  position: absolute;
  top: 3.13vw;
  right: 15vw;
  width: $iconSize;
  height: $iconSize;
  background: url(../../images/icons/white_back.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25;
  &:hover{
    opacity: 0.75;
  }
}

.down{
  animation: down 5s ease-in-out infinite;
  position: absolute;
  bottom: 3.13vw;
  right: 50vw;
  width: $iconSize;
  height: $iconSize;
  background: url(../../images/icons/white_down.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25;
  &:hover{
    opacity: 0.75;
  }
}

.plus{
  position: absolute;
  bottom: 3.13vw;
  width: $iconSize;
  height: $iconSize;
  background: url(../../images/icons/white_plus.svg) center no-repeat transparent;
  background-size: contain;
  opacity: 0.25;
  &:hover{
    opacity: 0.75;
  }
}

@media(max-width: 900px) {
  .menu,
  .forward,
  .back,
  .down,
  .plus{
    width: $iconSizeTablet;
    height: $iconSizeTablet;
  }
}

@media(max-width: 600px) {
  .menu,
  .forward,
  .back,
  .down,
  .plus{
    width: $iconSizeMobile;
    height: $iconSizeMobile;
  }
}
