<div ng-include=" 'partials/nav.html' "></div>
<div id="biography" class="subject-page">
    <h6>{{biographyPage.title}}</h6>

    <div class="subject-content">
        <p class="intro-text">{{biographyPage.introText}}</p>
        <p class="more-text">{{biographyPage.moreInformation}}</p>

        <!-- to trigger modal, if used (try ng-show / ng-hide?) -->
        <a href="#" class="plus"></a>
    </div>

    <a ui-sref="home"> <img src="images/logo/arg_aubergine.svg" alt="Argitct logo" class="logo"></a>

</div>
