<div ng-include=" 'partials/nav.html' "></div>
<div id="contact" class="subject-page">
    <h1 class="page-title">{{contactPage.title}}</h1>

    <div class="subject-content">
        <p class="intro-text">{{contactPage.introText}}</p>
        <ul>
            <li>{{contactPage.moreInformation.contact1}}</li>
            <li>{{contactPage.moreInformation.contact2}}</li>
            <li>{{contactPage.moreInformation.contact3}}</li>
            <li>{{contactPage.moreInformation.contact4}}</li>
        </ul>

        <a ng-click='toggleModal()' class="plus"></a>
        <modal-dialog show='modalShown' class="subject-modal">
            <p>{{contactPage.modalContent}}</p>
        </modal-dialog>
    </div>

    <a ui-sref="home"> <img src="images/logo/arg_aubergine.svg" alt="Argitct logo" class="logo"></a>

</div>
