<div id="landing">
    <div class="large-logo">
        <img src={{logo}} alt="Argitct logo">
        <h3 class="new-york">{{location}}</h3>
        <a ui-sref="home" class="landing-plus">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 165 165">
            <path d="M165,82.5A82.5,82.5,0,1,1,82.5,0,82.5,82.5,0,0,1,165,82.5Zm-46.8,4.76V77.74H87.26V46.8H77.74V77.74H46.8v9.51H77.74V118.2h9.51V87.26Z" fill="#fff"/>
          </svg>
        </a>
    </div>
    <div class="bottom">
        <h5>{{title}}</h5>
    </div>
</div>
