<div class="menu" ng-click="opened = !opened"></div>
<div class="nav-wrap" ng-show="opened">
  <nav class="nav-hamburger">
    <ul>
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="services">Services</a>
        <ul>
          <li><a ui-sref="process">Project Recovery</a></li>
        </ul>
      </li>
      <li><a ui-sref="projects">Projects</a></li>
      <li><a ui-sref="team">Team</a></li>
      <li><a ui-sref="biography">Biography</a></li>
      <li><a ui-sref="contact">Contact</a></li>
    </ul>
  </nav>
  <div class="push-wrap"></div>
</div>
