<div ng-style="{ 'background-color': '{{post.backgroundColor}}' }">
  <div class="project-card">
    <div class="project-left">
      <h1>{{post.title}}</h1>
      <h3>{{post.location}}, {{post.date}}</h3>
      <p>{{post.description}}</p>
      <h5><span class="special-one">DESIGNER:</span> {{post.designer}}</h5>
      <h5><span class="special-one">ARCHITECT:</span> {{post.architect}}</h5>
      <h5><span class="special-one">COST:</span> {{post.cost}}</h5>
      <h5><span class="special-one">SIZE:</span> {{post.size}}</h5>

      <slick infinite=true slides-to-show=1 slides-to-scroll=1 fade=true speed=1000>
        <div ng-repeat="image in post.images">
          <img src="{{ image.path }}" />
        </div>
      </slick>


    </div>

    <div class="project-right">
        <!-- insert primary image here -->
        <!-- <img ng-src="{{post.images.path}}" alt="{{post.images.alt}}" -->
    </div>
  </div>
