<div class="project">

    <slick infinite=true slides-to-show=1 slides-to-scroll=1 speed=1000>
        <div ng-repeat="image in project.images">
            <img ng-src="{{ image.path }}" />
        </div>
    </slick>

    <div class="project-top">
        <h1>{{project.title}}</h1>
        <h2>{{project.location}}</h2>
    </div>

    <div class="project-bottom">
        <p><span class="special">designer: </span>{{project.designer}}</p>
        <p><span class="special">description: </span>{{project.description}}</p>

        <a ng-click='toggleModal()' class="project-plus"></a>
        <modal-dialog show='modalShown' class="project-modal">
            <p>{{project.longdescription}}</p>
        </modal-dialog>
    </div>
</div>
