<div class="project-background">
    <div ng-include=" 'partials/nav.html' "></div>
    <div>
        <div class="project-controls">
            <div class="control-wrapper">
                <div ng-click="goToPreviousProj()" class="back"></div>
                <div ng-click="goToNextProj()" class="forward"></div>
            </div>

            <h4>Project <span class="purple"> {{currentProjectNumber()}}</span> / {{projectLength}}</h4>
        </div>
        <ui-view></ui-view>
    </div>

    <div class="project-logo">
        <a ui-sref="home"> <img src="images/logo/arg_white.svg" alt="Argitct logo" class="logo"></a>
    </div>

</div>
