<div class="project-background">
    <div ng-include=" 'partials/nav.html' "></div>
    <div>
      <div class="project-controls">
        <div ng-click="goToNextProj()" class="forward"></div>
        <div ng-click="goToPreviousProj()" class="back"></div>
        <h4>Project <span class="purple"> {{project.id}}</span> / {{projectLength}}</h4>
      </div>
        <ui-view></ui-view>
    </div>

    <a ui-sref="home"> <img src="images/logo/arg_white.svg" alt="Argitct logo" class="logo"></a>
</div>
