<div id="process">

<div class="recovery-process">
        <h1>{{process.slug}}</h1>

        <img src={{process.svgpath}} alt="" class="">

        <ul>
          <li>{{process.descriptionA}}</li>
          <li>{{process.descriptionB}}</li>
          <li>{{process.descriptionC}}</li>
          <li>{{process.descriptionD}}</li>
          <li>{{process.descriptionE}}</li>
          <li>{{process.descriptionF}}</li>
          <li>{{process.descriptionG}}</li>
        </ul>

        <!-- <a ng-click='toggleModal()' class="plus">
          <modal-dialog show='modalShown' class="subject-modal">
              <p>{{project.longdescription}}</p>
          </modal-dialog>
        </a> -->
    </div>
</div>
