<div ng-include=" 'partials/nav.html' "></div>
<div id="recovery" class="subject-page">
    <h6>{{recoveryPage.title}}</h6>


    <div class="subject-content">
      <p class="intro-text">{{recoveryPage.introText}}</p>
      <p class="more-text">{{recoveryPage.moreInformation}}</p>
        <a ng-click='toggleModal()' class="plus"></a>
        <modal-dialog show='modalShown' class="subject-modal">
            <p>{{recoveryPage.modalContent}}</p>
        </modal-dialog>
    </div>

    <a ui-sref="recoveryProcess.process({ processId: 1 })" class="down"></a>
    <a ui-sref="home"> <img src="images/logo/arg_aubergine.svg" alt="Argitct logo" class="logo"></a>

</div>
