<div ng-include=" 'partials/nav.html' "></div>
<div id="services" class="subject-page">
    <h1 class="page-title">{{servicesPage.title}}</h1>

    <div class="subject-content">
        <p class="intro-text">{{servicesPage.introText}}</p>
        <p class="more-text">{{servicesPage.moreInformation}}</p>
        <a ng-click='toggleModal()' class="plus"></a>
        <modal-dialog show='modalShown' class="subject-modal">
            <p>{{servicesPage.modalContent}}</p>
        </modal-dialog>
    </div>

    <div class="more">
      <a ui-sref="recovery">Learn More About Project Recovery</a>
      <a ui-sref="recovery" class="down"></a>
    </div>


    <a ui-sref="home" class="logo">
        <img src="images/logo/arg_aubergine.svg" alt="Argitct logo" class="logo">
    </a>
</div>
