#home {
    width: 100%;
    height: 100vh;
    min-height: $min-height;
    background-color: $white;

    .menu {
        background: url("../../images/icons/aubergine_menu.svg") center no-repeat transparent;
        background-size: contain;
        opacity: 0.70;

        &:hover,
        &:active{
            opacity: 0.90;
        }
    }

    h6 {
        color: $aubergine-light;
    }

    .subject-content {
        position: relative;
        top: 13%;
        width: 55%;
        margin: auto;
        text-align: justify;

        .intro-text {
            font-size: 2vw;
            color: $aubergine-light;
        }
    }

    .large-logo {
        position: relative;
        top: 35%;
        @include translateY(-40%);
        width: 65vw;
        margin: auto;
        opacity: 0.75;
    }

    footer {
        position: relative;
        top: 27%;
        margin-bottom: 3vw;
    }

    .nav-home {
        text-align: center;

        a {
            color: $aubergine-light;
            font-size: 1.25vw;
            text-decoration: none;

            &:hover,
            &:active {
                color: $rosegold;
            }

            &:after {
                // content: "\25BE";
                content: "|";
                padding: 0 0.5vw 0 1vw;

                &:last-of-type {
                    display: none;
                }
            }

            &:visited {
                color: $aubergine-light;
            }
        }
    }
}
@media(max-width: 800px) {
    #home {
        .subject-content {
            top: 20%;
            width: 75%;
            .intro-text {
                font-size: 5vw;
            }
        }

        .large-logo {
            top: 40%;
            width: 75vw;
        }

        .nav-home {
            display: none;
        }
    }
}

@media(max-width: 600px) {
    #home {
        .subject-content {

            .intro-text {
                font-size: 6.5vw;
            }
        }

        .large-logo {
            top: 40%;
        }
    }
}
