.ng-modal-overlay {
  position: absolute;
  z-index: 9999;
  bottom: 15vw;
  right: 15vw;
  height: 70vw;
  width: 50vw;
  background-color: $aubergine-medium;
}


.ng-modal-dialog {
  position: absolute;
  z-index: 10000;
  top: 50%;
  @include translateY(-50%);
}

.ng-modal-dialog-content {
  padding: 2vw;
  text-align: left;
}

.ng-modal-close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  padding: 1vw;
  cursor: pointer;
  font-size: 3vw;
  display: inline-block;
  font-weight: 400;
  font-family: $font-fancy;
}
