.project-modal{
  .ng-modal-overlay{
    position: absolute;
    z-index: 999;
    bottom: 15vw;
    right: 15vw;
    height: 90vh !important;
    width: 50vw !important;
    background-color: $aubergine-medium;
  }
// .jcf-scrollable
  .ng-modal-dialog {
    position: relative;
    z-index: 1000;
    top: 50%;
    @include translateY(-50%);

    .project .project-bottom p{
      padding: 2vw;
      text-align: left;
      color: $white;
    }
  }

  .ng-modal-dialog-content {
    padding: 2vw;
    text-align: left;
    color: $white;
  }

  .ng-modal-close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    padding: 1vw;
    cursor: pointer;
    font-size: 3vw;
    display: inline-block;
    font-weight: 400;
    font-family: $font-fancy;
  }
}

.subject-modal{
  .ng-modal-overlay{
    position: absolute;
    right: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    @include translateX(50%);
    z-index: 999;
    height: 85vh;
    width: 85vw;
    background-color: $aubergine-medium;
    overflow-y: scroll;
  }
  .ng-modal-dialog{
    position: relative;
    top: 50%;
    @include translateY(-50%);
    width: 75%;
    height: 75%;
    margin: auto;
  }
  p{
    color: $white;
    font-size: 1.75vw;
    line-height: 2.25vw;
    margin-bottom: 2.5vw;
  }
  .ng-modal-dialog-content{}
  .ng-modal-close{

  }
}



/* scrollbars */
.jcf-scrollable-wrapper {
	box-sizing: content-box;
	// position: relative;
	border: 2px solid grey;
}
.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	background: $magenta;
	width: 0.75vw;
	bottom: 0;
	right: 0;
	top: 0;
}
/* square spaces at top and bottom */
.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	background: $magenta;
	height: 0.75vw;
	width: 0.75vw;
	left: 0;
	top: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	top: auto;
	bottom: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: white;
  opacity: 0.35;
	height: 15% !important;
	width: 0.75vw;
  border-radius: 0.25vw;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
	visibility: hidden;
}
