// // Hides everything pushed outside of it //
// .nav-wrap{
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
// }
//
// //  Add a transition and the resting translate state //
// .push-wrap {
//   -webkit-transition: all 300ms ease 0;
//   -moz-transition: all 300ms ease 0;
//   transition: all 300ms ease 0;
//
//   -webkit-transform: translate(0, 0);
//   -moz-transform: translate(0, 0);
//   -ms-transform: translate(0, 0);
//   transform: translate(0, 0);
//
//   -webkit-transform: translate3d(0, 0, 0);
//   -moz-transform: translate3d(0, 0, 0);
//   -ms-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
// }
//
// // Will animate the content to the right 50vw revealing the hidden nav //
// .show-nav .push-wrap{
//   -webkit-transform: translate(50vw, 0);
//   -moz-transform: translate(50vw, 0);
//   -ms-transform: translate(50vw, 0);
//   transform: translate(50vw, 0);
//
//   -webkit-transform: translate3d(50vw, 0, 0);
//   -moz-transform: translate3d(50vw, 0, 0);
//   -ms-transform: translate3d(50vw, 0, 0);
//   transform: translate3d(50vw, 0, 0);
// }
// Positions the nav fixed below the push wrapper //
nav {
    font-family: $font-fancy;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-hamburger {
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $aubergine-medium;
    z-index: 9;
    padding-top: 10vw;

    a {
        color: $white;
        text-decoration: none;
        font-size: 2.75vw; //44px @1600
        line-height: 4.5vw;
        font-weight: 300;
        padding-left: 6vw;

        &:visited {
            color: $white;
        }

        &:hover,
        &:active {
            color: $magenta;
        }
    }
}

.nav-home {
    li {
        display: inline-block;
        color: $aubergine-light;

        a{
          &:visited{
            color: $aubergine-light;
          }
          &:hover,
          &:active {
            color: $magenta;
          }
        }
    }
}

@media(max-width: 1100px) {
    .nav-hamburger {
        a{
          font-size: 3.44vw;
          line-height: 6vw;
          padding-left: 6vw;
        }
    }
}

@media(max-width: 800px) {
    .nav-hamburger {
        width: 100vw;
        padding-top: 20vw;
        a{
          font-size: 5vw;
          line-height: 8.5vw;
          padding-left: 11vw;
        }
    }
}

@media(max-width: 600px) {
    .nav-hamburger {
        padding-top: 25vw;
        a{
          font-size: 6.5vw;
          line-height: 10vw;
          padding-left: 13.5vw;

        }
    }
}
