$width: 100vh;
$width-desktop: 91vw;
$width-mobile: 100vw;
$width-special: calc(100vw - 100vh - 7.5vw);
$height-special: 8vw;
$height-tablet-carousel: calc(100vh - 7.5vw);
$width-minus-carousel: calc(100vw - (100vh - 7.5vw));
$width-modal-tablet: calc(100vw - (100vh - 4.5vw));
$right-modal-tablet: calc((100vw - (100vh - 10.5vw)) * -1);

.project-controls {
    float: right;
    width: 10vw;
    height: auto;
    z-index: 50000;

    h4 {
        text-transform: uppercase;
        letter-spacing: 0.1vw;
        padding-top: 1.75vw;
        // padding-left: 0.25vw;
        color: $burntlilac;
        width: 100%;

        .purple {
            color: $aubergine;
            font-weight: 400;
        }
    }

    .back,
    .forward {
        display: inline-block;
        position: relative;
        top: 1.25vw;
        right: auto;
        width: $iconSize;
        height: $iconSize;
        min-width: 40px;
        min-height: 40px;
        -webkit-box-shadow: 0 0 7px 1px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 0 7px 1px rgba(0,0,0,0.4);
        box-shadow: 0 0 7px 1px rgba(0,0,0,0.4);
        border-radius: 50%;
        opacity: 0.5;
        z-index: 15;

        &:hover {
            opacity: 0.8;
        }
    }

    .forward {
        background: url("../../images/icons/white_forward.svg") center no-repeat transparent;
        background-size: contain;
        margin: 0 auto 0 1vw;
    }

    .back {
        background: url("../../images/icons/white_back.svg") center no-repeat transparent;
        background-size: contain;
        margin: 0 1vw 0 auto;
    }
}

.project-background {
    background-color: $silver;
    width: 100%;
    min-height: $min-height;
    height: 100vh;
    position: relative;
    z-index: 50000;
    overflow: hidden;
    

    .project-logo {
        position: absolute;
        bottom: 0;
        right: 0;
        width: $width-special;
    }

    .logo {
        position: absolute;
        bottom: 2.5vw;
        left: auto;
        right: 50%;
        @include translateX(50%);
        width: 5.25vw;
    }
}

.project {
    position: absolute;
    left: $width-menu-desktop;
    top: 0;
    width: $width;
    height: 100%;
    background-color: $silver;

    .slick-slide img {
        height: 100vh;
        width: auto;
        z-index: 0;
    }

    .project-top {
        background-color: $white-light;
        position: absolute;
        top: 0;
        width: $width;
        padding: 1.5vw 2vw;
        z-index: 5;

        h1,
        h2 {
            text-transform: uppercase;
            color: $aubergine;
            font-weight: 400;
        }
    }

    .project-bottom {
        background-color: $white-light;
        position: absolute;
        bottom: 0;
        width: $width;
        padding: 1vw 7vw 1vw 2vw;
        z-index: 100;

        p {
            color: $aubergine;
            font-weight: 400;
            font-style: italic;
            max-width: 63vw;
            line-height: 1.4;
            font-size: 1vw;
        }
    }
}

.project-plus {
    position: absolute;
    top: 50%;
    right: 2.5vw;
    @include translateY(-50%);
    width: $iconSize;
    height: $iconSize;
    min-width: 40px;
    min-height: 40px;
    background: url("../../images/icons/silver_plus.svg") center no-repeat transparent;
    background-size: contain;
    -webkit-box-shadow: 0 0 7px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 7px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.2);
    // -webkit-box-shadow: 0px 0px 7px 1px rgba(139,99,75,0.3);
    // -moz-box-shadow: 0px 0px 7px 1px rgba(139,99,75,0.3);
    // box-shadow: 0px 0px 7px 1px rgba(139,99,75,0.3);
    border-radius: 50%;
    opacity: 0.95;

    &:hover {
        opacity: 1;
    }
}
////////// MODAL ON PROJECTS PAGE //////////
// $width-special: calc(100vw - 100vh - 11vw);
$width-special2: calc((100vw - 100vh - 7.5vw) * -1);
$width-special3: calc(100vw - 100vh - 9.5vw);

.project-modal .ng-modal-overlay {
    position: absolute;
    right: $width-special2;
    top: -50%;
    bottom: 0;
    margin-top: auto;
    margin-right: 1vw;
    margin-bottom: auto;
    @include translateY(-50%);
    z-index: 999;
    height: 80vh;
    width: $width-special3;
    background-color: $aubergine-dark;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 0 0 15px 2px rgba(74,47,64,0.6);
    -moz-box-shadow: 0 0 15px 2px rgba(74,47,64,0.6);
    box-shadow: 0 0 15px 2px rgba(74,47,64,0.6);
}

.project-modal .ng-modal-dialog {
    position: relative;
    top: 50%;
    @include translateY(-50%);
    width: 75%;
    height: 75%;
    margin: auto;
}

.project-modal .ng-modal-dialog-content {
    position: relative;
    top: 50%;
    @include translateY(-50%);
    height: 100%;
}

.project-modal p {
    color: $white !important;
    font-size: 1.75vw !important;
    line-height: 1.4 !important;
    margin-bottom: 2.5vw !important;
    font-style: normal !important;
    font-weight: 300 !important;
}

.project-modal .ng-close-box {
    position: absolute;
    padding: 2vw;
    margin: 2vw;
    top: 0;
    right: 0;
}

.project-modal .ng-modal-close {
    position: absolute;
    top: 0;
    left: 0;
    width: $iconSize;
    height: $iconSize;
    min-width: 40px;
    min-height: 40px;
    background: url("../../images/icons/white_minus.svg") center no-repeat transparent;
    background-size: contain;
    opacity: 0.5;
    -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 15px 2px rgba(0,0,0,0.6);
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.6);
    border-radius: 50%;

    &:hover {
        opacity: 0.75;
    }
}
////////// MEDIA QUERIES //////////
@media(max-width: 1100px) {
    .project-background {
        .project-logo {
            width: $width-minus-carousel;
        }
    }

    .project-controls {
        width: 16vw;
        height: $width-menu-tablet;
        text-align: left;

        .back,
        .forward {
            top: 3.75vw;
            @include translateXY(50%, -50%);
        }

        h4 {
            padding-top: 2.25vw;
            padding-left: 1.65vw;
        }
    }

    .project {
        height: $height-tablet-carousel;
        width: $height-tablet-carousel;
        top: $width-menu-tablet;
        left: 0;

        .slick-slide img {
            height: $height-tablet-carousel;
        }

        .project-top {
            width: $height-tablet-carousel;
        }

        .project-bottom {
            width: $height-tablet-carousel;
        }
    }

    .project-modal .ng-modal-overlay {
        top: 0;
        width: $width-modal-tablet;
        right: $right-modal-tablet;
        margin-right: 4.5vw;
    }
}
@media(max-width: 925px) {
    .project-modal .ng-modal-overlay {
        width: 45vw;
    }
}
@media(max-width: 800px) {
    .project-controls {
        width: 20vw;

        h4 {
            font-size: 2vw;
            padding-top: 4vw;
            padding-left: 0;
            margin-left: 3.75vw;
        }

        .back,
        .forward {
            width: $iconSizeTablet;
            height: $iconSizeTablet;
            top: 6.5vw;
        }
    }

    .project-background {
        min-height: 1024px;

        .project-logo {
            width: 100vw;
        }

        .logo {
            bottom: 2.25vw;
            left: 0;
            right: 0;
            margin: auto;
            width: 12vw;
            transform: none;
        }
    }

    .project {
        height: 108.5vw;
        width: 100vw;
        top: $width-menu-mobile;
        overflow: hidden;
        background-color: $white;

        .slick-slide img {
            height: auto;
            width: 100vw;
        }

        .project-top {
            width: 100vw;
            padding-left: 4.5vw;
        }

        .project-bottom {
            width: 100vw;
            padding-left: 4.5vw;

            p {
                font-size: 1.75vw;
            }
        }
    }

    .project-plus {
        width: $iconSizeTablet;
        height: $iconSizeTablet;
        right: 9vw;
    }

    .project-modal .ng-modal-overlay {
        width: 90vw;
        height: 75vh;
        left: 0;
        right: 0;
        margin: auto;
    }

    .project-modal p {
        font-size: 2.75vw !important;
        margin-bottom: 3.5vw !important;
    }

    .project-modal .ng-close-box {
        padding: 3vw;
        margin: 4vw;
    }

    .project-modal .ng-modal-close {
        width: $iconSizeTablet;
        height: $iconSizeTablet;
    }
}
@media(max-width: 600px) {
    .project-controls {
        width: 30vw;
        height: 14vw;

        h4 {
            font-size: 2.75vw;
            padding-top: 6.5vw;
            margin-left: 4vw;
        }

        .back,
        .forward {
            width: $iconSizeMobile;
            height: $iconSizeMobile;
            top: 8.5vw;
        }

        .back {
            margin: 0 1.5vw 0 auto;
        }

        .forward {
            margin: 0 auto 0 1.5vw;
        }
    }

    .project-background {
        min-height: 568px;

        .logo {
            bottom: 5vw;
            width: 15vw;
        }
    }

    .project {
        top: 14vh;

        .project-top {
            padding: 2vw 2.5vw;
        }

        .project-bottom {
            p {
                font-size: 2vw;
            }
        }
    }

    .project-plus {
        width: $iconSizeMobile;
        height: $iconSizeMobile;
    }

    .project-modal p {
        font-size: 3vw !important;
        margin-bottom: 4.5vw !important;
    }

    .project-modal .ng-close-box {
        padding: 3vw;
        margin: 4vw;
    }

    .project-modal .ng-modal-close {
        width: $iconSizeMobile;
        height: $iconSizeMobile;
    }
}
@media(max-width: 450px) {
    .project-controls {
        width: 45vw;

        h4 {
            font-size: 3.33vw;
            padding-top: 8vw;
            margin-left: 11vw;
        }

        .back,
        .forward {
            top: 12.5vw;
            margin: 0 2vw;
        }
    }

    .project {
        top: 15vh;
        height: 132.5vw;

        .project-bottom {
            p {
                font-size: 2.75vw;
            }
        }
    }

    .project-modal .ng-modal-overlay {
        height: 64vh;
    }

    .project-modal .ng-close-box {
      padding: 6vw;
    }

    .project-modal p {
        font-size: 3.5vw !important;
        margin-bottom: 5vw !important;
    }
}
