.subject-page {
    width: 100%;
    min-height: $min-height;
    height: 100vh;
    background-color: $berry-light;
    overflow: hidden;

    .subject-content {
        position: relative;
        top: 50%;
        @include translateY(-50%);
        width: 55%;
        margin: auto;
        text-align: justify;

        .intro-text {
            color: $white;
        }

        .more-text {
            color: $white;
            padding-top: 1vw;
        }

        .plus {
            top: 50%;
            @include translateY(-50%);
            right: -11vw;
        }
    }

    .logo {
        position: absolute;
        bottom: 2.5vw;
        left: 2vw;
        width: 6vw;
    }

    .more {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 8vw;
        text-align: center;

        a {
            color: $rosegold;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $font-fancy;
            font-weight: 400;

            &:hover {
                text-decoration: underline;
            }
        }

        .down {
            bottom: auto;
            margin-top: 3vw;
        }
    }
}

#contact {
    ul {
        margin-top: 5vw;
    }

    li {
        color: $aubergine;
        font-weight: 400;
    }
}
@media(max-width: 1100px) {
    .subject-page {
        // .subject-content{
        //
        //   .intro-text{
        //
        //   }
        //   .more-text{
        //
        //   }
        //   .plus{
        //
        //   }
        // }
        .logo {
            bottom: 2.5vw;
            left: 2vw;
            width: 8vw;
        }
    }
}
@media(max-width: 800px) {
    .subject-page {
        .subject-content {
            .intro-text {}

            .more-text {}

            .plus {
                right: -15.75vw;
            }
        }

        .logo {
            bottom: 5.25vw;
            left: 0;
            right: 0;
            margin: auto;
            width: 12vw;
        }

        .more {
            bottom: 13vw;

            a {
                font-size: 2.25vw;
            }

            .down {
                display: none;
            }
        }
    }
}
@media(max-width: 600px) {
    .subject-page {
        // .subject-content{
        //
        //   .intro-text{
        //
        //   }
        //   .more-text{
        //
        //   }
        //   .plus{
        //     // right: -15.75vw;
        //   }
        // }
        .logo {
            width: 20vw;
        }

        .more {
            bottom: 18vw;

            a {
                font-size: 3vw;
            }
        }
    }
}
