.subject-page{
  width: 100%;
  min-height: $min-height;
  height: 100vh;
  background-color: $berry-light;

  .subject-content{
    position: relative;
    top: 50%;

    @include translateY(-50%);
    width: 55%;
    margin: auto;
    text-align: justify;

    .intro-text{
      color: $white;
    }
    .more-text{
      color: $white;
      padding-top: 1vw;
    }
    .plus{
      top: 50%;
      @include translateY(-50%);
      right: -11vw;
    }
  }

  .logo{
    position: absolute;
    bottom: 2.5vw;
    left: 2vw;
    width: 8vw;
  }
}






@media(max-width: 800px) {
  .subject-page{

    .subject-content{

      .intro-text{

      }
      .more-text{

      }
      .plus{
        right: -15.75vw;
      }
    }

    .logo{
      bottom: 5.25vw;
      left: 0;
      right: 0;
      margin: auto;
      width: 12vw;
    }
  }
}

@media(max-width: 600px) {
  .subject-page{

    .subject-content{

      .intro-text{

      }
      .more-text{

      }
      .plus{
        // right: -15.75vw;
      }
    }

    .logo{
      width: 15vw;
    }
  }
}
